.BO-underline{
    border-bottom: 1px solid rgb(99, 99, 99);
    z-index: 5;
  }
  
  .BO-navigation{
    color: rgb(99, 99, 99);
    text-decoration: none;
    &:hover{
      color: rgb(43, 43, 43);
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .wing{
    &::after{
      content: "";
      position: relative;
      width: 500px;
      height: 100px;
      background-color: #fff;
      z-index: 2;
    }
  }